@import "shared/flexbox"
@import "shared/variables"

section.ads
  width: 100%
  background: rgb(228,228,228)
  .ads
    &__title
      font-size: 3em
      text-align: center
      padding: 30px 0
      &-subtitle
        color: $font_grey
        font-size: .4em
    &__content
      @include flexbox()
      @include justify-content(flex-start)
      @include flex-wrap(wrap)
    &__item
      background: $white
      width: calc(1080px / 4)
      margin: 15px
      img
        object-fit: cover
        width: 270px
        height: 220px
      &-category
        font-size: .8em
        padding: 15px
        color: $font_grey
      &-title
        padding: 0 15px
        font-size: 1.3em
        font-weight: bold
        min-height: 40px
        a
          color: $orange
          transition: .3s all ease
          text-decoration: none
          display: block
          &:hover
            color: $green
            transition: .3s all ease
      &-info
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(center)
        padding: 15px
      &-price
        font-size: 1.2em
        font-weight: bolder
      &-view
        color: $font_grey

.page-ad
  margin: 20px 0
  padding: 15px 0
  background: rgb(222, 222, 222)
  .ad__item
    &-wrapper
      @include flexbox()
    &-body
      background: $white
      width: calc(70% - 22.5px)
      max-width: 750px
      margin: 0 7.5px 0 15px
      padding: 15px
    &-info
      @include flexbox()
      @include justify-content(space-between)
      padding-bottom: 15px
      i
        color: $orange
        margin: 0 6px 0 0
    &-title
      font-size: 2em
      color: $green
      font-weight: bolder
      padding-bottom: 15px
    &-text
      font-size: 1.2em
      padding-bottom: 15px
      white-space: pre-line
      line-height: 1.2em
    &-images
      padding: 0 0 15px 0
      text-align: center
      img
        object-fit: cover
        width: 100%
        max-height: 600px
    &-breadcrumbs
      padding: 0 0 15px 0
      color: $font_grey
    &-sidebar
      background: $white
      width: calc(30% - 22.5px)
      margin: 0 15px 0 7.5px
      padding: 15px