@import "shared/variables"
@import "shared/flexbox"

body
  font-family: 'Cuprum', sans-serif
  background: $main_background_color
  .container
    width: 100%
    max-width: 1200px
    margin: 0 auto
    &-table
      width: 100%
      overflow-x: auto
  .text-grey
    color: $font_grey
  .auth-form
    margin: 15px auto
    padding: 15px
    width: 300px
    border: 1px solid $line_grey
    text-align: center
    box-shadow: 0.3em 0.3em 3px rgba(122, 122, 122, 0.2)
  h1
    font-size: 2em
    margin-bottom: 15px
  h2
    font-size: 1.8em
  h3
    font-size: 1.5em
  .text-center
    text-align: center
  .link__grey
    transition: 0.3s
    outline: none
    color: $font_grey
    text-decoration: none
    padding-right: 15px
    &_green
      &:hover
        color: $green
        transform: scale(1.5)
        transition: 0.3s
        outline: none
    &_blue
      &:hover
        color: $blue
        transform: scale(1.5)
        transition: 0.3s
        outline: none
    &_orange
      &:hover
        color: $orange
        transition: 0.3s
        outline: none
  .img-thumbnail
    border: 1px solid $light_grey
    padding: 2px
    margin: 2px
    object-fit: cover
  .state
    background: $orange
    border: 1px solid $light_grey
    padding: 4px
    color: $white
    text-align: center
    &-draft
      background: $yellow
      color: $black
    &-new
      background: $orange
    &-rejected
      background: $red
    &-approved
      background: $blue
    &-published
      background: $green
    &-archival
      background: $purple
  .green
    color: $green
  .orange
    color: $orange