@import "shared/variables"
@import "shared/flexbox"

body
  font-family: 'Cuprum', sans-serif
  background: $main_background_color
  .container
    width: 100%
    max-width: 1200px
    margin: 0 auto
    &-table
      width: 100%
      overflow-x: auto
  h1
    font-size: 2em
    margin-bottom: 15px
  table.table-admin
    border: 1px solid $light_grey
    thead
      background: $line_grey
      border-bottom: 1px solid $light_grey
      font-weight: bold
    tr
      transition: .3s
      &:hover
        background: $line_grey
        transition: .3s
    th
      padding: 15px 5px
      border: 1px solid $light_grey
    td
      border: 1px solid $light_grey
      padding: 6px 6px
      max-width: 500px
    .table__td-size_sm
      max-width: 150px
    .table__td-size_md
      max-width: 300px
    .table__td-size_lg
      max-width: 600px
    .table__icon
      text-decoration: none
      padding: 4px
      transition: 0.3s
      outline: none
      &:hover
        cursor: pointer
        transform: scale(1.5)
        transition: 0.3s
        outline: none
      &_red
        color: $red
      &_green
        color: $green
      &_blue
        color: $blue
      &_yellow
        color: $yellow
      &_purple
        color: $purple
      &_orange
        color: $orange
    .table__subcategories
      @include flexbox()
      &-list
        min-width: 300px
      &-add
        width: 30px
        @include flexbox()
        @include justify-content(flex-end)
        @include align-items(center)
  .text-center
    text-align: center
  .link__grey
    transition: 0.3s
    outline: none
    color: $font_grey
    text-decoration: none
    padding-right: 15px
    &_green
      &:hover
        color: $green
        transform: scale(1.5)
        transition: 0.3s
        outline: none
    &_blue
      &:hover
        color: $blue
        transform: scale(1.5)
        transition: 0.3s
        outline: none
    &_orange
      &:hover
        color: $orange
        transition: 0.3s
        outline: none
  .form
    border: 1px solid $light_grey
    padding: 15px
    &-admin
      width: 100%
      max-width: 800px
      .input
        @include flexbox
        @include justify-content(space-between)
        input
          height: 40px
          width: 100%
          max-width: 500px
          margin: 4px 0
          padding: 0 15px
          border: 1px solid $line_grey
          color: $font_grey
        textarea
          height: 150px
          width: 100%
          max-width: 500px
          margin: 4px 0
          padding: 0 15px
          border: 1px solid $line_grey
          color: $font_grey
        label
          @include flexbox
          @include justify-content(center)
          @include align-items(center)
        select
          height: 40px
          width: 100%
          max-width: 500px
          border: 1px solid $line_grey
          color: $font_grey
  .img-thumbnail
    border: 1px solid $light_grey
    padding: 2px
    margin: 2px
  .state
    background: $orange
    border: 1px solid $light_grey
    padding: 4px
    color: $white
    text-align: center
    &-draft
      background: $yellow
      color: $black
    &-new
      background: $orange
    &-rejected
      background: $red
    &-approved
      background: $blue
    &-published
      background: $green
    &-archival
      background: $purple