@import "shared/variables"
@import "shared/flexbox"

.my-account
  &__ad-item
    @include flexbox()
    border: 1px solid $grey
    margin: 15px
  &-link
    padding: 15px 0 0 15px
    a
      text-decoration: none