@import "shared/variables"
@import "shared/flexbox"

.subcategory__item
  &-wrapper
    @include flexbox()
    @include justify-content(space-between)
    align-items: center
    border: 1px solid $light_grey
    padding: 4px
    margin: 4px
  &-title-state
    margin: 0 4px
  &-title-id
    margin: 0 4px
    color: $font_grey
    font-size: .9em

.subcategories-breadcrumbs
  padding: 15px